<%- include("header") -%>
<div class="box" id="heading">
    <h1>Water Can</h1>
  </div>

<div class="box">
  <form class="item" action="/" method="post">
    
          <label>Total Cans You have purchased So far <%= canCount1 %></label>
          
          
  </form>
</div>





















<%- include("footer") -%>